.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &--hidden {
        display: none;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
    
    }
}

.modal-window {
    position: relative;
    width: 1039px;
    max-width: 95%;
    padding: 56px 56px 64px 56px;
    border-radius: 16px;
    background-color: white;

    &__images {
        min-width: 330px;
        max-width: 330px;
        padding-right: 24px;
    }

    &__close-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    &__container {
        display: flex;
    }

    &__main-image-container img {
        max-width: 100%;
    }

    &__preview-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 16px;
    }

    &__bottom-balance {
        display: none;
    }
}

.info {
    &__heading {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__scores {
        margin-top: 8px;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    &__btn {
        width: 134px;
        height: 36px;
        margin-top: 8px;
        border: none;
        border-radius: 8px;

        @include box-shadow(0, 2px, 4px, rgba(28, 24, 25, 0.1));

        font-size: 0.875rem;
        background-color: $bluePrimary;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;

        &:hover {
            background-color: white;
            color: $bluePrimary;
        }
    }

    &__warning {
        color: red;
        margin-top: 10px;
        font-size: 0.75rem;
    }

    &__balance {
        position: absolute;
        right: 20px;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        border-radius: 16px;
        background-color: #f0fafd;
    }

    &__balance-icon-container img {
        padding-left: 23px;
    }

    &__balance-heading {
        font-size: 0.875rem;
        margin-bottom: 4px;
    }

    &__colors {
        margin-top: 24px;
    }

    &__sizes {
        margin-top: 24px;
    }

    &__volumes {
        @extend .info__sizes;
    }

    &__details {
        margin-top: 24px;
    }

    &__details-text {
        margin-top: 4px;
        line-height: 1.5rem;
        font-size: 0.875rem;
    }

    &__how-to {
        margin-top: 24px;
    }

    &__how-to-answer {
        margin-top: 4px;
        line-height: 1.5rem;
        font-size: 0.875rem;
    }
}

.preview__image {
    cursor: pointer;
    width: 50px;
    height: 50px;

    &-container:not(:first-of-type) {
        margin-left: 8px;
    }

    &--active {
        border: 1px solid $bluePrimary;
        border-radius: 8px;
    }
}

.colors {
    display: flex;
    flex-wrap: wrap;

    &__option {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 8px;
        margin-right: 8px;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        color: $bluePrimary;
        cursor: pointer;

        &:hover {
            background-color: $activeBgColor;
        }

        &--active {
            color: $blackPrimary;
            background-color: $activeBgColor;
        }
    }

    &__radio {
        appearance: none;
        -webkit-appearance: none;
        position: absolute;
    }

    &__radio-label {
        font-size: 0.875rem;
        cursor: pointer;
        padding: 8px 12px 8px 25px;
        margin-left: 15px;
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: 1;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.sizes {
    display: flex;
    flex-wrap: wrap;

    &__option {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        min-height: 40px;
        margin-top: 8px;
        margin-right: 8px;
        padding: 8px 16px;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        color: $bluePrimary;
        cursor: pointer;

        &:hover {
            background-color: $activeBgColor;
            color: $blackPrimary;
        }

        &--active {
            background-color: $activeBgColor;
            color: $blackPrimary;
        }
    }
}

.volumes {
    @extend .sizes;
    &__option {
        @extend .sizes__option;
    }
}

.bottom-balance {
    display: none;
    border-radius: 16px;

    @include box-shadow(0, 2px, 10px, rgba(28, 24, 25, 0.1));

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }

    &__caption {
        color: #888b94;
        font-size: 0.875rem;
    }

    &__btn {
        width: 100%;
        height: 44px;
        margin-top: 16px;
        border: none;
        border-radius: 8px;

        @include box-shadow(0, 2px, 4px, rgba(28, 24, 25, 0.1));

        font-size: 0.875rem;
        background-color: $bluePrimary;
        color: #fff;
    }
}

@media screen and (max-width: 899px) {
    .modal-window {
        max-width: 100%;
        padding: 26px 26px 34px 26px;
        border-radius: 0;

        &__container {
            flex-direction: column;
        }

        &__info {
            margin-top: 28px;
        }

        &__images {
            padding-right: 0;
            margin: 0 auto;
        }

        &__close-btn {
            top: 20px;
            right: 10px;
        }
    }

    .modal {
        align-items: flex-start;
    }
}

@media screen and (max-width: 649px) {
    .modal-window {
        padding: 0;

        &__container {
            padding: 32px 24px 24px 24px;
        }

        &__main-image-container {
            text-align: center;
        }

        &__bottom-balance {
            display: block;
        }
    }

    .bottom-balance {
        padding: 16px 16px 24px 16px;
    }

    .info {
        &__balance {
            display: none;
        }
    }
}
