@import 'variables';
@import 'container';
@import 'header';
@import 'search';
@import 'profile';
@import 'aside';
@import 'main';
@import 'buttons';
@import 'tabs';
@import 'grid';
@import 'card';
@import 'modal-window';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: $blackPrimary;
    // font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &__container {
        margin: 26px auto 0;
    }
}
