.header__wrapper {
    max-width: 1368px;
    margin: 0 auto;
    padding: 34px 26px 0 32px;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 66px;
}

.header__search {
    position: relative;
}

.header .search__input {
    padding: 8px 0 8px 54px;
    border: none;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: #f2f2f3;
    color: #888b94;
}

.header .search__input:focus,
.header .search__input:active {
    outline: 1px solid var(--blue-primary);
}

.header .search__btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    border: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.header__profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__profile-link:hover > .header__profile-container {
    background-color: #e7e7e7;
    border-radius: 8px;
}

.header .profile__image-container img {
    width: 44px;
    height: 44px;
    max-width: 100%;
}

.header .profile__descr {
    margin-left: 16px;
}

.header .profile__name {
    font-size: 0.875rem;
    font-weight: 600;
    color: #2a81dd;
    line-height: 24px;
}

.header .profile__scores {
    font-size: 0.812rem;
    line-height: 1.25rem;
}
