@import url('../css/modal-window.css');
@import url('../css/header.css');
@import url('../css/aside.css');
@import url('../css/footer.css');

:root {
    --blue-primary: #2a81dd;
    --black-primary: #1c1819;
    --active-bg-color: #d6ecfb;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--black-primary);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#app {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 1368px;
    margin: 26px auto 0;
    padding-left: 32px;
    padding-right: 26px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.main {
    padding-bottom: 192px;
    max-width: 1038px;
}

.main__banner-container {
    margin-bottom: 24px;
}

.main__banner-container img {
    max-width: 100%;
}

.main__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
    color: #1c1819;
}

.main .buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 330px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.main .buttons button img {
    padding-right: 16px;
}

.main .buttons__get-scores {
    background: #eff8eb;
}

.main .buttons__get-scores:hover {
    -webkit-box-shadow: 0 0 15px #cdd4c9;
    box-shadow: 0 0 15px #cdd4c9;
}

.main .buttons__how-to {
    background: #fffae7;
}

.main .buttons__how-to:hover {
    -webkit-box-shadow: 0 0 15px #e2decd;
    box-shadow: 0 0 15px #e2decd;
}

.main .buttons__gift {
    background: #e9f2fb;
}

.main .buttons__gift:hover {
    -webkit-box-shadow: 0 0 15px #c5cdd4;
    box-shadow: 0 0 15px #c5cdd4;
}

.main__tabs {
    margin-top: 40px;
}

.main .tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 9px;
}

.main .tabs__nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 120px;
    height: 36px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border: none;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: transparent;
    color: var(--blue-primary);
    cursor: pointer;
}

.main .tabs__nav-btn:hover {
    background-color: #d6ecfb;
    color: var(--black-primary);
}

.main .tabs__nav-btn_active {
    background-color: #d6ecfb;
    color: #1c1819;
}

.main__grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 24px;
}

.main .card {
    position: relative;
    max-width: 330px;
    cursor: pointer;
}

.main .card:hover {
    -webkit-box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.main .card:hover .card__scores {
    color: #f33;
}

.main .card:hover .card__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main .card__image-container {
    position: relative;
    max-height: 330px;
}

.main .card__image-container img {
    max-width: 100%;
}

.main .card__thumb {
    position: absolute;
    bottom: 16px;
    left: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0 4px;
    width: 38px;
    font-size: 0.8125rem;
    background-color: #64bd38;
    color: #fff;
}

.main .card__info {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 60px;
}

.main .card__scores {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue-primary);
    line-height: 2.25rem;
}

.main .card__name {
    color: #1c1819;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.main .card__sizes {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #888b94;
}

.main .card__btn {
    display: none;
    width: 298px;
    height: 44px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue-primary);
    -webkit-box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.main .card__btn:hover {
    background-color: #ffdd61;
    color: var(--black-primary);
}
